
@font-face {
  font-family: 'bradfordregular';
  src: url('docs/BradfordTrial-Regular.otf');
  font-style: normal;
}

@font-face {
  font-family: 'bradfordmediumitalic';
  src: url('docs/BradfordTrial-MediumItalic.otf');
  font-style: normal;
}

@font-face {
  font-family: 'franklinthin';
  src: url('docs/LibreFranklin-Thin.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'franklinextralight';
  src: url('docs/LibreFranklin-ExtraLight.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'franklinregular';
  src: url('docs/LibreFranklin-regular.ttf');
  font-style: normal;
}

::selection {
  background-color: black;
  color: white;
}

body {
  background-color: white;
}


a {
  text-style: none;
  color: black;
}

a:hover {
  background-color: #ff6e2f;
}


.introduction {
  font-family: 'franklinextralight', 'arial';
  font-size: 16px;
  line-height: 21.6px;
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  z-index: 1;
}

.kara {
  font-family: 'bradfordmediumitalic', 'baskerville';
  font-size: 60px;
  color: lime;
  z-index: 0;
  top: 10px;
  left: 10px;
}

.reads {
  font-family: 'bradfordmediumitalic', 'baskerville';
  font-size: 60px;
  color: lime;
  z-index: 0;
  bottom: 10px;
  right: 10px;
}

.nav {
  font-family: 'courier new';
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  margin-top: 20px;
  margin-right: 20px;
  text-align: right;
  width: 30vw;
  display: inline-block;
  z-index: 1;
}

.recent:hover {
  font-family: 'bradfordmediumitalic';
}

.archive:hover {
  font-family: 'bradfordmediumitalic';
}

.home:hover {
  font-family: 'bradfordmediumitalic';
}

.pagetitle {
  font-family: 'bradfordmediumitalic', 'baskerville';
  color: black;
  font-size: 60px;
  line-height: 100%;
  text-align: left;
  position: fixed;
  top: 40px;
  left: 64px;
  width: 10vw;
}

.author {
  font-family: 'bradfordmediumitalic', 'baskerville';
  color: black;
  font-size: 20px;
  text-align: left;
  position: fixed;
  bottom: 40px;
  left: 64px;
  width: 10vw;
}

.archiveheading {
  font-family: 'bradfordmediumitalic', 'baskerville';
  color: black;
  font-size: 18px;
  text-align: left;
  position: fixed;
  bottom: 40px;
  left: 64px;
}

/*archive*/
.yearcontainer {
  max-width: 560px;
  display: inline-flex;
  left: 100px;
  flex-direction: column;
}

.year {
  font-family: 'courier new';
  font-size: 12px;
  color: black;
}

.bookcontainer {
  text-align: left;
}

.booktitle {
  font-family: 'bradfordmediumitalic', 'baskerville';
  font-size: 60px;
  color: black;
}

.authorname {
  font-family: 'bradfordregular', 'baskerville';
  color: black;
  font-size: 28px;
}

/*review page*/
.review {
  font-family: 'bradfordregular', 'baskerville';
  font-size: 18px;
  line-height: 21.6px;
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  z-index: 0;
  float: right;
}

@media (max-width: 600px) {

  .introduction {
    font-family: 'franklinextralight', 'arial';
    font-size: 18px;
    line-height: 21.6px;
    color: black;
    display: flex;
    flex-direction: column;
    border-left: none;
    max-width: 90vw;
    text-align: left;
  }


  .pagetitle {
    font-family: 'bradfordmediumitalic', 'baskerville';
    color: black;
    font-size: 60px;
    line-height: 100%;
    text-align: left;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 10vw;
  }

  .author {
    font-family: 'bradfordmediumitalic', 'baskerville';
    color: black;
    font-size: 20px;
    text-align: left;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 10vw;
  }

  .review {
      font-family: 'bradfordregular', 'baskerville';
      font-size: 18px;
      line-height: 21.6px;
      color: black;
      display: flex;
      flex-direction: column;
      max-width: 90vw;
      float: right;
      text-align: left;
  }

  .nav {
    position: fixed;
  }

.kara {
  display: none;
}

.reads {
  display: none;
}

}
