
@font-face {
  font-family: 'bradfordregular';
  src: url('docs/BradfordTrial-Regular.otf');
  font-style: normal;
}

@font-face {
  font-family: 'bradfordmediumitalic';
  src: url('docs/BradfordTrial-MediumItalic.otf');
  font-style: normal;
}

@font-face {
  font-family: 'franklinthin';
  src: url('docs/LibreFranklin-Thin.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'franklinextralight';
  src: url('docs/LibreFranklin-ExtraLight.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'franklinregular';
  src: url('docs/LibreFranklin-regular.ttf');
  font-style: normal;
}

::selection {
  background-color: black;
  color: white;
}

body {
  background-color: white;
}


a {
  text-decoration: none;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

a:hover {
  color: lime;
  font-family: 'bradfordmediumitalic'
}

.introduction {
  font-family: 'franklinextralight', 'arial';
  font-size: 18px;
  line-height: 21.6px;
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  z-index: 1;
}

.karareads {
  font-family: 'bradfordmediumitalic', 'baskerville';
  font-size: 48px;
  color: black;
  top: 40px;
  left: 40px;
  position: fixed;
}

.nav {
  font-family: 'bradfordregular';
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 10px 20px;
  max-width: 100vw;
  z-index: 1;
  position: fixed;
}



img {
  border: 1px solid #000000;
  border-radius: 4px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.me {
  transform: rotate(5deg);
  height: auto;
  display: inline-flex;
  position: fixed;
  top: 10%;
  left: 65%;
  z-index: -1;
}


.pagetitle {
  font-family: 'bradfordmediumitalic', 'baskerville';
  color: black;
  font-size: 32px;
  line-height: 100%;
  text-align: left;
  position: fixed;
  top: 40px;
  left: 40px;
  width: 10vw;
}

.author {
  font-family: 'bradfordmediumitalic', 'baskerville';
  color: black;
  font-size: 16px;
  text-align: left;
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 10vw;
}

.archiveheading {
  font-family: 'bradfordmediumitalic', 'baskerville';
  color: black;
  font-size: 18px;
  text-align: left;
  position: fixed;
  bottom: 40px;
  left: 64px;
}

/*archive*/
.yearcontainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.year {
  font-family: 'franklinextralight', 'arial';
  font-size: 12px;
  color: black;
  max-width: 100vw;
  margin-top: 40px;
  margin-left: 40px;
}

.bookcontainer {
  text-align: left;
}

.booktitle {
  font-family: 'bradfordmediumitalic', 'baskerville';
  font-size: 32px;
  color: black;
}

.booktitle:hover {
  color: lime;
}

.authorname {
  font-family: 'bradfordregular', 'baskerville';
  color: black;
  font-size: 18px;
}

/*review page*/
.review {
  font-family: 'franklinextralight', 'baskerville';
  font-size: 18px;
  line-height: 21.6px;
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  z-index: 1;
  float: right;
}

.blockquote {
  font-family: 'franklinextralight', 'baskerville';
  font-size: 14px;
  line-height: 16px;
  margin-left: 20px;
}

.reviewimage {
  transform: rotate(-5deg);
  display: inline-flex;
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 0;
}

/*404 page*/
.filenotfound {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 25%;
  width: 40vw;
}

.filenotfoundheader {
  font-family: 'bradfordmediumitalic', 'baskerville';
  font-size: 300px;
  text-align: center;
  color: lime;
}

.filenotfoundtext {
  font-family: 'franklinextralight', 'arial';
  font-size: 18px;
  text-align: center;
}

/*favorites*/
.favorites-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 80vw;
  margin: 40px;
}

.favorites-img {
  object-fit: contain;
  display: inline-block;
  flex-grow: 1;
  width: 50%;
  box-sizing: border-box;
}

/*in progress page*/
.inprogress {
  font-family: 'bradfordmediumitalic', 'baskerville';
  font-size: 300px;
  line-height: 310px;
  text-align: center;
  color: black;
  margin: 40px;
}

@media (max-width: 600px) {

.content {
  display: block;
  position: relative;
  justify-content: center;
  max-width: 100vw;
}

  .introduction {
    font-family: 'franklinextralight', 'arial';
    font-size: 18px;
    line-height: 21.6px;
    display: block;
    color: black;
    max-width: 100vw;
    text-align: left;
    margin: 0px 10px;
    position: relative;
    z-index: 1;
  }

  .nav {
    font-size: 14px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100vw;
    padding: 10px;
  }

  .me {
    transform: rotate(0deg);
    display: block;
    max-width: 100vw;
    height: auto;
    margin: 20px 10px !important;
    z-index: 1;
    left: 0;
    position: relative;
    top: 0;
  }

  .karareads {
    max-width: 100vw;
    display: block;
    margin: 10px !important;
    text-align: center;
    position: relative;
    z-index: 1;
    filter: invert(1);
    mix-blend-mode: difference;
  }

  .pagetitle {
    font-family: 'bradfordmediumitalic', 'baskerville';
    color: black;
    font-size: 32px;
    line-height: 100%;
    text-align: left;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 10vw;
  }

  .author {
    font-family: 'bradfordmediumitalic', 'baskerville';
    color: black;
    font-size: 20px;
    text-align: left;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 10vw;
  }

  .review {
      font-family: 'franklinextralight', 'arial';
      font-size: 18px;
      line-height: 21.6px;
      color: black;
      display: flex;
      max-width: 100vw;
      text-align: left;
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 40px;
      margin-bottom: 20px;
      z-index: 1;
  }

  .yearcontainer {
    margin: 10px;
  }

  .year {
    font-family: 'franklinextralight', 'arial';
    font-size: 12px;
    color: black;
    justify-content: center;
    max-width: 100vw;
    margin-top: 40px;
    margin-left: 10px;
  }

  .reviewimage {
    transform: rotate(0deg);
    display: block;
    max-width: 100vw;
    height: auto;
    z-index: 1;
    filter: invert(1);
    mix-blend-mode: difference;
    top: 75%;
    left: 75%;
  }

  .filenotfound {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 25%;
    max-width: 100vw;
  }

  .filenotfoundheader {
    font-size: 100px;
  }

  .inprogress {
    font-size: 100px;
    line-height: 110px;
  }

  .filenotfoundtext {
    font-family: 'franklinextralight', 'arial';
    font-size: 18px;
    text-align: center;
  }

}
